 @font-face {
    font-family: 'OpenDyslexic';
    src :url('OpenDyslexic-Regular.otf');
}

body { 
    background-color: oklch(95.3% 0.051 180.801);
    font-family: 'OpenDyslexic', Arial;
} 

a {
    text-decoration: none;
    color: oklch(59.6% 0.145 163.225);
} 

 a:visited {
    color: oklch(43.2% 0.095 166.913);
}

a:hover {
    color: black;
}

.header {
    background-color: oklch(98.4% 0.014 180.72);
    text-align: center; 
    margin: 20px;
    border: 1px solid; 
    top: 0; 
    position: sticky; 
    z-index: 1;
    border-radius: 25px;
}

header ul {
    list-style-type: none;
    padding: 0; 
}

header li {
    display: inline; 
} 
/* #aboutphoto {
    border-radius: 25px;
    height: 200px;
    filter: grayscale(100%);
    }

.about {
    background-color: oklch(98.4% 0.014 180.72);
    border: 1px solid; 
    text-align: center; 
    padding: 20px; 
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex; 
    border-radius: 25px; 
}
.projects {
    background-color: oklch(98.4% 0.014 180.72);
    border: 1px solid; 
    text-align: center; 
    padding: 20px; 
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 25px; 
}

#projects-table {
   width: 100%;
   border: 1px solid; 
   border-collapse: collapse;

}

.projects-header-row th {
    border: 1px solid; 
    padding: 10px;
    background-color: oklch(95.3% 0.051 180.801);
}

.projects-data-row td {
    border: 1px solid;
    padding: 10px; 
}


#firsttetris_preview {
    height: 200px;
    border: 1px solid; 
} */



/* .footer { 
    background-color: oklch(98.4% 0.014 180.72);
    text-align: center; 
    z-index: 1;
    margin: 20px;
    border-radius: 25px;
    position: sticky;
    bottom: 0; 
    border: 1px solid; 
} */

/* footer ul {
    list-style-type: none;
    padding: 0; 
}

footer li {
    display: inline; 
}

#copyright {
    font-size: 0.875em; 
}   */

/* tablet response */ 
@media screen and (min-width: 800px) and (max-width: 1000px) { 

}

/* desktop response */
@media screen and (min-width: 1000px) {
    
}